.tt{
    height: 60px;
}

.pm{
    height: 60px;
}

.ak{
    height: 60px;
}

.foot {

    height: 80px;  
}

.content {

    padding-bottom: 90px;
}

.up-logo {
    height: 150px;
}

html,
body {
  height: 100%;

}

