<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="container-lg con-ner">
        <div class="row shapka">
            <div class="col-md-2 tt">LOGOTIP</div>
            <div class="col-md-8 pm">NAME</div>
            <div class="col-md-2 ak">EXIT</div>
        </div>
        
        <div class="text-center">    
            <a class="btn btn-warning" href="{{url_for('login')}}">Войти</a>
            <a class="btn btn-warning" href="{{url_for('register')}}">Регистрация</a>
        </div>
        
        <div class="row up-logo">

        </div>
        
        <div class="row content">
            <div>
                <h1 class="text-center">Тесты по школьным предметам</h1>
            </div>
        </div>
        
        {% block content %}


        {% endblock %}


        
        <footer class="container-lg fixed-bottom foot">
                <div class="co">
                    <h5>Учиться весело, но не всегда!</h5>
                </div>
        </footer>
    </div>

</body>
</html>